.modalPopUp {
    border-radius: 3rem !important;
    border: none;
}
.popUpImage {
    display: block;
    margin: 0 auto;
}
.successTitle {
    color: $calypso;
    text-align: center;
    margin: 1rem;
    margin-top: 2rem;
}
.logoMakeSense {
    width: 20rem;
    margin-bottom: 2rem;
}