.challenge {
    height: auto;
    max-width: 60rem;
    background-color: #fff;
    border-radius: 3rem;
    margin: 2rem 0;
    padding: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.challengeButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    height: 20rem;
}